<div class='row'>
    <div class='col-lg-12'>
        <button class='mx-auto d-block mt-1' mat-stroked-button (click)='filter()'>Filtrer</button>
        <div class='d-flex flex-column justify-content-center' *ngIf='step == 1'>
            <span class='d-block border-bottom'>Region</span>
            <mat-chip-list>
                <mat-chip *ngFor='let item of regions' (click)='getDepartments(item.id); step = 2'>{{ item.name }}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class='d-flex flex-column justify-content-center' *ngIf='step == 2'>
            <span class='d-block border-bottom'>Departement</span>
            <mat-chip-list>
                <mat-chip *ngFor='let item of departments' (click)='getCities(item.id); step = 3'>{{ item.name }}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class='d-flex flex-column justify-content-center' *ngIf='step == 3'>
            <span class='d-block border-bottom'>Ville</span>
            <mat-chip-list>
                <mat-chip *ngFor='let item of cities' (click)='getEstablishments(item.id); step = 4'>{{ item.name }}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class='d-flex flex-column justify-content-center' *ngIf='step == 4'>
            <span class='d-block border-bottom'>Etablissement</span>
            <mat-chip-list>
                <mat-chip *ngFor='let item of establishments' (click)='getClients(item.id); step = 0'>{{ item.name }}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <div class='col-lg-12'>
        <app-searchbar (return)='read(page, "")' (query)='search = $event; read(page, search)'></app-searchbar>
        <button class='float-right mt-1' *ngIf='auth.permission.create'
            (click)='router.navigate([route.path + "/create"])' mat-stroked-button color='primary'>Ajouter
        </button>
        <mat-progress-spinner class='mx-auto d-block mt-1' *ngIf='load' mode='indeterminate' [diameter]='20'>
        </mat-progress-spinner>
        <div class='d-flex justify-content-center' *ngIf='!load && items?.length == 0'>Aucun résultat</div>
    </div>
    <div class='col-lg-12' *ngFor='let item of items; trackBy: trackFn'>
        <div class='d-flex align-items-center'>
            <div class='flex-grow-1'>
                <a class='title' [routerLink]='"/" + route.path + "/read/" + item.id'>
                    {{ item.firstname }} {{ item.name }}
                </a>
            </div>
            <button mat-icon-button [matMenuTriggerFor]='optionMenu' class='float-right'>
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #optionMenu='matMenu'>
                <span mat-menu-item (click)='router.navigate([route.path + "/read", item.id])'>Consulter</span>
                <span mat-menu-item (click)='router.navigate([route.path + "/update", item.id])'>Modifier</span>
                <span mat-menu-item (click)='delete(item.id)'>Supprimer</span>
            </mat-menu>
        </div>
        <div class='border-bottom'>
            <mat-icon inline='true'>date_range</mat-icon>{{item.enterDate| date:'mediumDate':'UTC'}} {{item.enterTime}}
            <mat-icon inline='true'>phone</mat-icon> {{item.phone}}
            <small class='float-right'>{{ item.createdAt | date:'mediumDate':'UTC' }}</small>
        </div>
    </div>
    <app-paginator class='col-lg-12' [page]='page' (paginate)='read($event, search)'></app-paginator>
</div>