<div class='d-flex justify-content-end'>
    <button mat-button [mat-dialog-close]='select' i18n>close</button>
</div>
<div *ngIf='select?.length > 0'>
    <mat-chip-list>
        <mat-chip *ngFor='let p of select'>{{ p.name }}</mat-chip>
    </mat-chip-list>
</div>
<mat-dialog-content>
    <div *ngIf='list?.length > 0'>
        <mat-selection-list [(ngModel)]='select' [multiple]='multiple'>
            <mat-list-option *ngFor='let p of list' [value]='p' class='border-bottom'>{{ p.name }}</mat-list-option>
        </mat-selection-list>
    </div>
</mat-dialog-content>