<button mat-icon-button (click)='router.navigate([route.path])'>
    <mat-icon>keyboard_backspace</mat-icon>
</button>

<form [formGroup]='form'>
    <div class='row mt-2 mb-2'>
        <mat-form-field class='col-sm-4' appearance='outline'>
            <mat-label>Nom</mat-label>
            <input matInput autocomplete='off' formControlName='name'>
        </mat-form-field>
        <mat-form-field class='col-sm-4' appearance='outline'>
            <mat-label>Type d'etablissement</mat-label>
            <mat-select formControlName='nature'>
                <mat-option *ngFor='let p of establishmentNature' [value]='p.id'>{{ p.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class='col-sm-4' appearance='outline'>
            <mat-label>Ville</mat-label>
            <mat-select formControlName='cityId'>
                <mat-option [value]='p.id' *ngFor='let p of cities'>{{ p.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class='col-sm-4' appearance='outline'>
            <mat-label>Commune</mat-label>
            <input matInput autocomplete='off' formControlName='municipality'>
        </mat-form-field>
        <mat-form-field class='col-sm-4' appearance='outline'>
            <mat-label>Position géographique</mat-label>
            <input matInput autocomplete='off' formControlName='location'>
        </mat-form-field>
        <div class='col-sm-4'></div>
    </div>
</form>

<div class='d-flex justify-content-center'>
    <button *ngIf='auth.permission.create && !route.id' [disabled]='load || !form.valid' (click)='create()'
        mat-stroked-button color='primary'> Enregistrer
    </button>
    <button class='ml-1 mr-1' *ngIf='auth.permission.update && route.id' [disabled]='load || !form.valid'
        (click)='update()' mat-stroked-button color='primary'> Modifier
    </button>
    <button *ngIf='auth.permission.delete && route.id' [disabled]='load' (click)='delete()' mat-stroked-button
        color='warn'> Supprimer
    </button>
</div>

<mat-progress-spinner *ngIf='load' class='mx-auto d-block mt-1' mode='indeterminate' [diameter]='20'>
</mat-progress-spinner>