<div class='d-flex justify-content-center align-items-center h-100 w-100'>
    <div class='d-flex flex-column'>
        <div class='text-center'>
            <h1 class='mb-2'>Bienvenue <b>{{ user?.name }}</b></h1>
        </div>
        <div class='text-center mb-4'>
            <h3 class='mb-2'>Vous êtes</h3>
            <h1 class='mb-2'>
                <b><span *ngFor='let p of role'><span *ngIf='p.id == user?.role'>{{ p.name }}</span></span></b>
            </h1>
        </div>
        <div class='text-center mb-4' *ngIf='["REH", "GEH"].includes(user?.role)'>
            <h3 class='mb-2'>Vos établissements sont</h3>
            <h1 class='mb-2'>
                <mat-chip-list>
                    <mat-chip *ngFor='let p of user.establishments'>{{ p.name }}</mat-chip>
                </mat-chip-list>
            </h1>
        </div>
        <div class='text-center mb-4' *ngIf='["DDMT", "PP"].includes(user?.role)'>
            <h3 class='mb-2'>Vos départements sont</h3>
            <h1 class='mb-2'>
                <mat-chip-list>
                    <mat-chip *ngFor='let p of user.departments'>{{ p.name }}</mat-chip>
                </mat-chip-list>
            </h1>
        </div>
        <div class='text-center mb-4' *ngIf='["DRMT"].includes(user?.role)'>
            <h3 class='mb-2'>Vos regions sont</h3>
            <h1 class='mb-2'>
                <mat-chip-list>
                    <mat-chip *ngFor='let p of user.regions'>{{ p.name }}</mat-chip>
                </mat-chip-list>
            </h1>
        </div>
        <div class='d-flex justify-content-center'>
            <button mat-stroked-button color='primary' (click)='router.navigate(["/client"])'>
                Consulter la liste des clients
            </button>
        </div>
    </div>
</div>